*
{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    margin: 0;
    background-color: #003C43;
    padding: 15px 15px 0 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    display: flex;
    border-radius: 8px 0 0 8px;
    justify-content: center;
    align-items: center;
}

.logo img
{
    max-width: 1;
    max-height: 100%;
    border-radius: 8px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #77B0AA;
    color: aqua;
    border-radius: 0 8px 8px 0;
}

.header {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.6fr;
    grid-template-rows: 100px;
}

.lgn_snp
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #135D66;
    border-radius: 8px;
    height: 100px;
    margin-left: 10px;
}

@media (max-width: 500px) {
    .lgn_snp {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}

.lgn_snp a
{
    text-decoration: none;
    text-align: center;
    margin: 5px;
    padding: 5px;
    color: #ff005d;
    background-color: #003C43;
    border-radius: 8px;
    width: 100%;
}
.lgn_snp a:hover
{
    color: white;
}

@media(max-width: 500px)
{
    .lgn_snp a
    {
        font-size: 10px;
        width: 60%;
    }
}

.dark_mode
{
    background-color: #135D66;
    color: aqua;
    border-radius: 8px;
    width: 15%;
    max-width: 50px;
    height: auto;
}

.hd
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.about
{
    background-image:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3)), url(back_head.jpg);
    background-size: cover;
    color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

@media (min-width: 600px) {
    .hd {
        grid-template-columns: 2fr 1fr;
        
    }
}

.slide
{
    background-color: #135D66;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
}

.slides img
{
    border-radius: 8px;
    width:100%
}

.slideshow-container {
    max-width: 500px;
    max-height: fit-content;
    position: relative;
    margin: auto;
}
  
.slides {
    display: none;
}
  
.fade {
    animation: fadeEffect 3s;
}
  
@keyframes fadeEffect
{
    from {opacity: 0.2}
    to {opacity: 1}
}

.social
{
    display: flex;
    justify-content: left;
}

.social a
{
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

.social img
{
    filter: invert(100%);
    width: 45px;
}

@media(max-width: 500px)
{
    .social img
    {
        width: 30px;
    }
}

.social img:hover
{
    transform: scale(1.05,1.05);
}


.game_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin: 10px 0 10px 0;
    width: 100%;
}

.games {
    flex: 1;
    margin-bottom: 20px;
}

.game1 {
    display: grid;
    grid-template-rows: auto 30px;
    background-color: #E3FEF7;
    padding: 10px;
    border-radius: 8px;
    height: 100%;
}

.game1 img {
    border-radius: 8px;
    width: 100%;
}

.game1 img:hover
{
    transform: scale(1.05,1.05);
    filter: opacity(80%);
}

.g1_info {
    display: flex;
    justify-content: space-between;
}

.know_more
{   
    background-color: #135D66;
    color: aqua;
    text-align: center;
    border-radius: 8px;
    margin-top: 15px;
    padding: 8px 0 1px 0;
}

.know_more a
{
    text-decoration: none;
    color: aqua;
}

.know_more a:hover
{
    color: white;
}

.off {
    background-color: #ff005d;
    padding: 7px 7px 5px 7px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
}

.bottom
{
    background-image: url(bottom_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    min-height: 200px;
    height: auto;
    color: white;
    padding: 50px;
}

footer
{
    background-color: #77B0AA;
    color: white;
    height: 100px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer pre
{
    font-family: "Inter", sans-serif;
    max-width: 90%;
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    footer pre {
        font-size: 0.8rem;
    }

    footer p
    {
        font-size: 0.7rem;
    }
}

/* About Page */

.about_container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #135D66;
    border-radius: 8px;
    margin: 10px 0 200px 0;
    padding: 5px;
}

.abt_block
{
    background-color: #77B0AA;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.abt_block h3
{
    color: #135D66;
}

/* Contacts Page */

.contacts_container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
}

.cont
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #77B0AA;
    border-radius: 8px;
    margin: 0 0 5px 0;
    padding: 20px;
}

.cont a
{
    text-decoration: none;
    color: white;
}

.cont img
{
    filter: invert(100%);
    width: 50px;
    margin: 5px;
}

.feedb
{
    background-color: #77B0AA;
    border-radius: 8px;
    padding: 20px;
    margin: 0 0 5px 0;
    color: white;
}

/* To know more */

.game_all
{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-gap: 10px;
}

.details
{
    background-color: #135D66;
    color: white;
    font-size: 1.2vw;
    border-radius: 8px;
    margin: 10px 0;
    padding: 20px;
}

@media(max-width: 500px) {
    .game_all {
        display: block;
    }
    
    .banner,
    .details {
        width: auto;
        border-radius: 8px;
    }
    
    .banner img {
        width: 100%;
        border-radius: 8px;
    }
    
    .details {
        background-color: #135D66;
        overflow: hidden;
        color: white;
        font-size: 3vw;
        border-radius: 8px;
        margin-top: 10px;
        padding: 20px;
    }

    .abt_game p
    {
        font-size: 3vw;
    }
}

.banner
{
    margin: 10px 0 10px 0;
    position: relative;
    border-radius: 8px;
}

.banner img
{
    width: 100%;
    border-radius: 8px;
    display: block;
}

.ban_info
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner::before {
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
}

.highlight
{
    color: #ff005d;
}

.banner h1
{
    margin: 0;
    font-size: 3vw;
}

.banner p
{
    margin: 0;
    font-size: 2vw;
}

.abt_game
{
    background-color: #135D66;
    color: white;
    font-size: 1rem;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
}

.ss
{
    background-color: #135D66;
    color: #ff005d;
    border-radius: 8px;
    padding: 10px;
}

.buy
{
    background-color: #135D66;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy button
{
    border-style: none;
    background-color: #ff005d;
    border-radius: 8px;
    padding: 10px 25px;
    color: white;
}

.buy button:hover
{
    background-color: aqua;
    color: #003C43;
}

.buy button img
{
    filter: invert(100%);
    width: 30px;
}

.buy button img:hover
{
    filter: none;
}