body
{
    min-height: 100vh;
    background-image: url(body_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav
{
    background-color: #135D66;
    border-radius: 8px;
    margin-top: 10px;
}

nav ul
{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

nav li
{
    height: 50px;
}

nav a
{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover
{
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 8px;
}

nav li:first-child
{
    margin-right: auto;
}

.sidebar
{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(19, 92, 102, 0.6);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li
{
    width: 100%;
}

.sidebar a
{
    width: 100%;
}

.open_button
{
    display: none;
}

@media(max-width: 800px)
{
    .hideOnMobile
    {
        display: none;
    }

    .open_button
    {
        display: block;
    }
}

@media(max-width: 500px)
{
    .sidebar
    {
        width: 100%;
    }
}

